<!DOCTYPE html>
<html>

	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		 <script type='text/javascript' src='/javascripts/jQuery.js'></script>
		<script type='text/javascript' src='/javascripts/Interface.js'></script>
		<script src='/socket.io/socket.io.js'></script>
	</head>

	<body>

		<div id='login-form'>
			<form id='login-form'>
				<input type='text' id='name' placeholder='Username'>
				<input id='login-button' type='submit' value='Login'>
			</form>
			<div id='login-error'>
      </div>
		</div>

	</body>
</html>